{% extends "SacMnnit/base.html" %}
{% load staticfiles %}

{% block main %}

<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area" style="background: url({% static 'images/cultural.jpg' %}) no-repeat 50%;" >
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="block wow fadeInUp" data-wow-delay=".3s">
                
                <!-- Slider -->
                <section class="cd-intro">
                    <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >

                    <span >
                        CULTURAL ACTIVITIES
                    </span>
                    </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                                    
                    
                 <!--      <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="http://www.avishkar.xyz" data-section="#works" >Visit Avishkar Website</a> -->
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->
<!--
==================================================
Slider Section Start
================================================== -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                    Work Details
                    </h2>
                    <p>
                        <ul class="list-group">
                            <li class="list-group-item">Providing opportunities to students for event management and conducting cultural events</li>
                            <li class="list-group-item">Lending support for opening and closing ceremonies of different events at institute</li>
                            <li class="list-group-item">Participation of institute team and individuals in other institutes for cultural events</li>
                        </ul>
                    </p>
                </div>
                
            </div>
                <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                    Management Of Events
                    </h2>
                    <p>
                         <ul class="list-group">
                            <li class="list-group-item">Independence Day</li>
                            <li class="list-group-item">Republic Day</li>
                            <li class="list-group-item">Culrav and other cultural events</li>
                        </ul>
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</section> <!-- /#about -->
<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="feature">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Club Coordinators</h1>
            <h4>Faculty In-Charge</h4> <b><h3>Dr. Abhishek Kumar, AMD</h3></b>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-body">
                        <h4 class="media-heading">Dr. Suantak Kamsonlian Kumar, CHED</h4>
                        <p>Music Club</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-body">
                        <h4 class="media-heading">Dr.Siraj Alam, CHED</h4>
                        <p>Dance Club</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">

                    <div class="media-body">
                        <h4 class="media-heading">Dr. Shweta Tripathi, ECED</h4>
                        <p>Dramatics Club</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="media-body">
                        <h4 class="media-heading">Dr. Ashutosh Mani, BTD</h4>
                        <p>Arts and Painting</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> <!-- /#feature -->
    
{% endblock main %}
