{% extends "SacMnnit/base.html" %}
{% load staticfiles %}

{% block main %}

<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area" style="background: url({% static 'images/literary.jpg' %}) no-repeat 50%;" >
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="block wow fadeInUp" data-wow-delay=".3s">
                
                <!-- Slider -->
                <section class="cd-intro">
                    <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >

                    <span >
                        LITERARY AND PERSONALITY DEVELOPMENT ACTIVITIES
                    </span>
                    </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                                    
                    
                 <!--      <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="http://www.avishkar.xyz" data-section="#works" >Visit Avishkar Website</a> -->
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->
<!--
==================================================
Slider Section Start
================================================== -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                    Work Details
                    </h2>
                    <p>
                        <ul class="list-group">
                            <li class="list-group-item">Grooming students for personality development</li>
                            <li class="list-group-item">Conducting workshops/seminars/lectures</li>
                            <li class="list-group-item">Group discussions and counselling for personality development</li>
                            <li class="list-group-item">Organizing quiz competitions</li>
                            <li class="list-group-item">Activities related to community development</li>
                            <li class="list-group-item">Photography and media events</li>
                        </ul>
                    </p>
                </div>
                
            </div>
                <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                    Management Of Events
                    </h2>
                    <p>
                         <ul class="list-group">
                            <li class="list-group-item">Debate Declamation</li>
                            <li class="list-group-item">Quiz</li>
                            <li class="list-group-item">Workshops</li>
                            <li class="list-group-item">Seminars</li>
                            <li class="list-group-item">Photography</li>
                            <li class="list-group-item">Media</li>
                            <li class="list-group-item">Lectures and Activities related to personality and community development</li>
                        </ul>
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</section> <!-- /#about -->
<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="feature">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Club Coordinators</h1>
            <h4>Faculty In-Charge</h4> <b><h3>Dr. Vishnu Agrawal, BTD</h3></b>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-body">
                        <h4 class="media-heading">Dr. Ravindra Tripathi, HSS</h4>
                        <p>Literary events and media</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-body">
                        <h4 class="media-heading">Dr. Radha Rani, BTD</h4>
                        <p>Community development</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">

                    <div class="media-body">
                        <h4 class="media-heading">Dr. Ranvijay, CSED</h4>
                        <p>Dhruva Club</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="media-body">
                        <h4 class="media-heading">Dr. Niraj Chaudhary, EED</h4>
                        <p>Gnosis Quiz Club</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="media-body">
                        <h4 class="media-heading">Dr. Ankur Gaur, CHED</h4>
                        <p>Photography Club</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> <!-- /#feature -->
                      
{% endblock main %}