{% extends "SacMnnit/base.html" %}
{% load staticfiles %}

{% block main %}

<!-- 
================================================== 
    Global Page Section Start
================================================== -->
<section class="global-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>From the President's Desk</h2>
                </div>
            </div>
        </div>
    </div>   
</section><!--/#page-header-->


<!-- 
================================================== 
    Contact Section Start
================================================== -->
<section id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">From the President's Desk</h2>
                    <p class="subtitle-des wow fadeInDown" fontsize="+1">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, ea!
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                         consectetur adipisicing elit. Dolore, ea!
                    </p>

                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
            <br><br><br>
            <img src="{% static 'images/rajesh.JPG' %}" class="img-rounded"  style="width:50%" alt="Cinque Terre">
            <br><br>
            <p>Dr. Rajesh Gupta </p>
            </div>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock main %}

