{% extends "SacMnnit/base.html" %}
{% load staticfiles %}

{% block main %}

<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area-other" style="background: url({% static 'images/technological.jpg' %}) no-repeat 50%;">
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="block wow fadeInUp" data-wow-delay=".3s">
                
                <!-- Slider -->
                <section class="cd-intro">
                    <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >

                    <span >
                        TECHNOLOGICAL ACTIVITIES
                    </span>
                    </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                                    
                    
                 <!--      <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="http://www.avishkar.xyz" data-section="#works" >Visit Avishkar Website</a> -->
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->
<!--
==================================================
Slider Section Start
================================================== -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                    Work Details
                    </h2>
                    <p>
                        <ul class="list-group">
                            <li class="list-group-item">Providing opportunities to students for technical and skill development</li>
                            <li class="list-group-item">Arranging technical hardware and software events</li>
                            <li class="list-group-item">Motivating students for industry oriented tasks and projects</li>
                            <li class="list-group-item">Participation of institute team in other institutes for technical events</li>
                        </ul>
                    </p>
                </div>
                
            </div>
                <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                    Management Of Events
                    </h2>
                    <p>
                         <ul class="list-group">
                            <li class="list-group-item">Avishkar and Gnosiomania</li>
                            <li class="list-group-item">Robofest</li>
                            <li class="list-group-item">Computer coding/programming competitions/ACM-ICPC</li>
                        </ul>
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</section> <!-- /#about -->
<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="feature">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Club Coordinators</h1>
            <h4>Faculty In-Charge</h4> <b><h3>Dr. V.R. Komma, MED</h3></b>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-body">
                        <h4 class="media-heading">Dr. Basant Kumar, ECED</h4>
                        <p>Robotics Club</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-body">
                        <h4 class="media-heading">Dr. D.K. Shukla, MED</h4>
                        <p>Aeromodelling Club</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">

                    <div class="media-body">
                        <h4 class="media-heading">Dr. Shashank Srivastava, CSED</h4>
                        <p>Computer Coding Club</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="media-body">
                        <h4 class="media-heading">Dr. Vadthiya Narendar, ECED</h4>
                        <p>Technical Events</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Student Coordinators</h1>
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-body">
                        <h4 class="media-heading">Coordinator robotics</h4>
                        <p>Robotics Club</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-body">
                        <h4 class="media-heading">Coordinator Aeromodelling</h4>
                        <p>Aeromodelling Club</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">

                    <div class="media-body">
                        <h4 class="media-heading">Souvik Paul</h4>
                        <h4 class="media-heading">Mohit Khare</h4>
                        <h4 class="media-heading">Abhey Rana</h4>
                        <h4 class="media-heading">Shivani Gupta</h4>
                        <h4 class="media-heading">Deepak Bharti (Web Admin)</h4>
                        <p>Computer Coding Club</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="media-body">
                        <h4 class="media-heading">Coordinator robotics Technical</h4>
                        <p>Technical Events</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section> <!-- /#feature -->
    
{% endblock main %}