{% extends "SacMnnit/base.html" %}
{% load staticfiles %}

{% block main %}
    
    <!--
        ==================================================
        Slider Section Start
        ================================================== -->
<section id="hero-area" style="background: url({% static 'images/athletic.jpg' %}) no-repeat 50%;" >
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="block wow fadeInUp" data-wow-delay=".3s">
                
                <!-- Slider -->
                <section class="cd-intro">
                    <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >

                    <span >
                        ATHLETICS
                    </span>
                    </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                                    
                    
                 <!--      <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="http://www.avishkar.xyz" data-section="#works" >Visit Avishkar Website</a> -->
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->
<!--
==================================================
Slider Section Start
================================================== -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                    Work Details
                    </h2>
                    <p>
                        <ul class="list-group">
                            <li class="list-group-item">Conducting trials</li>
                            <li class="list-group-item">Selecting captains and vice-captains</li>
                            <li class="list-group-item">Arranging track and field events</li>
                            <li class="list-group-item">Managing gymkhana</li>
                            <li class="list-group-item">Motivating students and accompanying institute team to other institutes for athletic events</li>
                        </ul>
                    </p>
                </div>
                
            </div>
                <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                    Management Of Events
                    </h2>
                    <p>
                         <ul class="list-group">
                            <li class="list-group-item">Annual Athletic Meet</li>
                            <li class="list-group-item">Cross Country Race and other athletic events</li>
                        </ul>
                    </p>
                </div>
                
            </div>
        </div>
    </div>
</section> <!-- /#about -->
<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="feature">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Club Coordinators</h1>
            <h4>Faculty In-Charge</h4> <b><h3>Dr. Nitin Singh, EED</h3></b>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-body">
                        <h4 class="media-heading">Dr. Nekram Rawal, CSED</h4>
                        <p>Gymkhana (Boys)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-body">
                        <h4 class="media-heading">Dr. Pragya Dwivedi, CSED</h4>
                        <p>Gymkhana (Girls)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">

                    <div class="media-body">
                        <h4 class="media-heading">Dr. Arvind Kumar, ECED</h4>
                        <p>Track Events</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="media-body">
                        <h4 class="media-heading">Dr. Pitam Singh, Maths</h4>
                        <p>Field Events</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> <!-- /#feature -->

{% endblock main %}