{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>SAC-18 | MNNIT</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
	<title>SAC</title>
	<meta name="Sac Mnnit is responsible for organising various events in MNNIT" content="">
	<meta name="sac, sac mnnit, cc, avishkar, culrav, renaissance" content="">
	<meta name="Team Sac | MNNIT" content="">
	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">    

	{% include "SacMnnit/head_css.html" %}
	{% block extra_head %}
	{% endblock extra_head %}

</head>

<body>
	
	{% include "SacMnnit/navbar.html" %}

	{% block main %} {% endblock main %}
	
	{% include "SacMnnit/footer.html" %}

	{% include "SacMnnit/javascript.html" %}
	
	{% block extra_js %} {% endblock extra_js %}

</body>
</html>