{% extends "SacMnnit/base.html" %}
{% load staticfiles %}

{% block extra_head %}
    <style type="text/css">
    #ticker01 ul li {
        color: black;
    }
</style>
{% endblock extra_head %}


{% block main %}        
        <!--
        ==================================================
        Slider Section Start
        ================================================== -->
<section id="hero-area" >
<div class="container">
    <div class="row">
        <!--
        <div class="col-md-12 text-center">
            <div class="block wow fadeInUp" data-wow-delay=".3s">
              Slider -->
               <!-- <section class="cd-intro">
                    <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >
                    <span class="cd-words-wrapper">STUDENT ACTIVITY CENTRE</span><br><br>

                    </h1>
                </section>  cd-intro -->
                    <!-- /.slider 
                    </div> -->
                    <div class="col col-md-7 col-sm-7" style="opacity: 1">

                        <div id="carousel-area">   
                          <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                              <div class="item active">

                                <img src="{% static 'images/30442628_390791104719093_6532220163430497187_n.jpg' %}" alt="" style="min-width: 100%; max-height:600px;">
                                <div class="carousel-caption">
                                  <a data-scroll href="#featured">
                                      <div class="rev-scroll-btn wow fadeInUp" data-wow-delay="600ms">
                                          <span></span>
                                      </div>
                                  </a>
                              </div>
                          </div>
                          <div class="item">
                            <img src="{% static 'images/CULRRAV-2017-2.JPG' %}" alt="" style="min-width: 100%; max-height:600px;">
                            <div class="carousel-caption">
                              
                              
                              <a data-scroll href="#featured">
                                  <div class="rev-scroll-btn wow fadeInUp" data-wow-delay="600ms">
                                      <span></span>
                                  </div>
                              </a>
                          </div>
                      </div>
                      <div class="item">
                        <img src="{% static 'images/Champion Inter NIT Annual Athletics-1.JPG' %}" alt="" style="min-width: 100%; max-height:600px;">
                        <div class="carousel-caption">
                          <h2 class="wow fadeInDown type_slider" data-wow-delay="300ms"> <br></h2>
                    
                          <a data-scroll href="#featured">
                              <div class="rev-scroll-btn wow fadeInUp" data-wow-delay="600ms">
                                  <span></span>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="item">
                        <img src="{% static 'images/DSC_0600.JPG' %}" alt="" style="min-width: 100%; max-height:600px;">
                        <div class="carousel-caption">
                          <h2 class="wow fadeInDown type_slider" data-wow-delay="300ms"> <br></h2>
                    
                          <a data-scroll href="#featured">
                              <div class="rev-scroll-btn wow fadeInUp" data-wow-delay="600ms">
                                  <span></span>
                              </div>
                          </a>
                      </div>
                  </div>
                   <div class="item">
                        <img src="{% static 'images/test.jpg' %}" alt="" style="min-width: 100%; max-height:600px;">
                        <div class="carousel-caption">
                          <h2 class="wow fadeInDown type_slider" data-wow-delay="300ms"> <br></h2>
                    
                          <a data-scroll href="#featured">
                              <div class="rev-scroll-btn wow fadeInUp" data-wow-delay="600ms">
                                  <span></span>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="item">
                        <img src="{% static 'images/Anuual Athletics-2.JPG' %}" alt="" style="min-width: 100%; max-height:600px;">
                        <div class="carousel-caption">
                          <h2 class="wow fadeInDown type_slider" data-wow-delay="300ms"> <br></h2>
                    
                          <a data-scroll href="#featured">
                              <div class="rev-scroll-btn wow fadeInUp" data-wow-delay="600ms">
                                  <span></span>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
              <a class="left carousel-control" href="#carousel-slider" role="button" data-slide="prev">
                <span class="icon-arrow-left" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#carousel-slider" role="button" data-slide="next">
                <span class="icon-arrow-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>

</div>

<div class="col col-md-3 col-sm-3 holder">
    <h3 class="text-center" style="color: red;">Important Notices</h3>
    <ul id="ticker01">
        <li><span>08/08/2018</span>
            <a href="#">Avishkar 2018 is from 26 Sept to 29 Sept.</a>
        </li>
        <li><span>08/08/2018</span>
            <a href="#">Annual Athletic Meet 2018 is from 26 Oct to 28 Oct</a>
        </li>
         <li><span>10/10/2007</span><a href="#">Avishkar 2018 is from 26 Sept to 29 Sept.</a></li>
        <li><span>08/10/2007</span><a href="#">Annual Athletic Meet 2018 is from 26 Oct to 28 Oct</a></li>
        <li><span>08/10/2007</span><a href="#">Nothing to show</a></li>
        <li><span>05/10/2007</span><a href="#">Nothing to show</a></li>
        <li><span>04/10/2007</span><a href="#">Nothing to show</a></li>
        <li><span>04/10/2007</span><a href="#">Nothing to show</a></li>
        <li><span>04/10/2007</span><a href="#">Nothing to show</a></li>
    </ul>

</div>

</div>
</div>
</div>
</section><!--/#main-slider-->
<!--
==================================================
Slider Section Start
================================================== -->
<section id="about">
    <div class="container">
        <div class="row">
            <div> <!-- class="col-md-6 col-sm-6"> -->
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                        STUDENT ACTIVITY CENTRE
                    </h2>
                    <p>
                     The Student Activity Centre (SAC) at MNNIT Allahabad is the main hub of enormous extra-curricular and co-curricular activities. The SAC has played a key role in grooming the everyday lives of MNNITians, cultivating and nurturing their extra-curricular talents. It seeks to develop qualities of leadership amongst students to advance the general cause of the student body. Various activities of the SAC are coordinated by the concerned faculty in-charge through coordinators, captains/secretaries, student committees, etc. Students are exposed to almost all the extracurricular activities including cultural, technical, literary, programming and sports events, providing an active and vibrant life. Since the time of its establishment the SAC has strived to motivate the students to be a good leader and a good human being.

                 </p>
          </div>
      </div>
  </div>
</div>
</section>
{% endblock main %}





