{% extends "SacMnnit/base.html" %}
{% load staticfiles %}

{% block main %}
<!--
==================================================
Slider Section Start
================================================== -->
<section id="hero-area-other" style="background: url({% static 'images/Josh_J_LalTournament-1.JPG' %}) " >
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="block wow fadeInUp" data-wow-delay=".3s">
                
                <!-- Slider -->
                <section class="cd-intro">
                    <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >

                    <span class="">
                        <b class="is-visible"><font size="+8">Josh J. Lal Memorial</font></b>

                    </span>
                    </h1>
                    </section> <!-- cd-intro -->
                    <!-- /.slider -->
                    <h2 class="wow fadeInUp animated" data-wow-delay=".6s" >
                     <b>Inter and Intra College Sports Festival  </b>
                    </h2>
                    <a class="btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green" data-wow-delay=".9s" href="#" data-section="#works" >JOSH J LAL WEBSITE</a>
                    
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->
<!--
==================================================
Slider Section Start
================================================== -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    <h2>
                    ABOUT JOSH J. LAL MEMORIAL
                    </h2>
                    <p>
                         It is inter and intra college sports festival: Josh( intra college) and J.Lal(inter college) Memorial Tournament. Named after our eminent ex-Prime Minister, Pt. Jawaharlal Nehru,it was first held in 1996. A total of 14 events including basketball, badminton, volleyball, skating, carrom, chess, gym activities etc. are held . The event witnesses huge participation from the student community.
                    </p>
                </div>
                
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    <img src="{% static 'images/josh.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section> <!-- /#about -->
<!--
==================================================
Portfolio Section Start
================================================== -->
<section id="feature">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Committee Members</h1>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-body">
                        <h4 class="media-heading">Dr. Mayank Pandey</h4>
                        <p>CSED (Convener)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-body">
                        <h4 class="media-heading">Dr. Ramji Dwivedi</h4>
                        <p>GIS (Coordinator)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">

                    <div class="media-body">
                        <h4 class="media-heading">Dr. Sameer Srivastava</h4>
                        <p>BTD (Coordinator/Treasurer)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="media-body">
                        <h4 class="media-heading">Dr. Divya Kumar</h4>
                        <p>CSED (Member)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1500ms">
                    <div class="media-body" style="align:center;">
                        <h4 class="media-heading">Dr. Santosh Kr. Gupta</h4>
                        <p>ECED (Member)</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> <!-- /#feature -->

{% endblock main %}
